{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 class="visually-hidden">Inscription</h1>
    <div class="my-auto mx-auto w-100  ">
        <div class=" mx-auto   col-10 offset-lg-3 col-lg-4  position-relative">
            <div class=" position-relative    overflow-hidden rounded  z-0">
             <div class="position-relative bg-black bg-opacity-25  py-4">
                        <div class="mx-5 my-auto row">
                            <div class=" col-7 col-lg-9 col-xl-7 mx-auto text-white">
                                {{ form_errors(registrationForm) }}
                                {{ form_start(registrationForm) }}
                                
                                {{ form_row(registrationForm.firstname, {
                                    label: "Prénom :"
                                }) }}
                                {{ form_row(registrationForm.lastname, {
                                    label: "Nom :"
                                }) }}
                                {{ form_row(registrationForm.email, {
                                    label: 'E-mail :'
                                }) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Mot de passe :'
                                }) }}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary ">S'inscrire</button>
                                </div>

                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}