<header class="bg-primary ">
	<div class="row row-cols-1 row-cols-lg-3 pt-5 ms-5">
		<div class="dropdown  d-flex justify-content-lg-start ">
			<input type="checkbox" id="checkbox"></input>
		<label for="checkbox" class="toggle">
			<div class="bars" id="bar1"></div>
			<div class="bars" id="bar2"></div>
			<div class="bars" id="bar3"></div>
			<nav class="justify-content-center mt-3">
				<ul class=" dropdown-menu-center bg-primary-inverse py-3  m-2">
					<li>
						<a class=" dropdown-item text-primary mt-5 fs-6" href="#">Parfum Femme</a>
					</li>
					<li>
						<a class="dropdown-item text-primary fs-6" href="#">Parfum Homme</a>
					</li>
					<li>
						<a class="dropdown-item text-primary fs-6" href="#">Collection Soins</a>
					</li>
					<li>
						<a class="dropdown-item text-primary fs-6" href="#">Collection Maison</a>
					</li>
					<li>
						<a class="dropdown-item text-primary fs-6" href="#">Contact</a>
					</li>
					<li>
						<a class=" dropdown-item text-primary fs-6" href="#">Livre d'or</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a class="dropdown-item text-primary fs-6" href="{{ path('app_admin') }}">Administration</a>
						</li>
					{% endif %}
					<li>
						<a class="dropdown-item text-primary fs-6" href="{{ path('app_logout') }}">Deconnexion</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="text-center text-primary-inverse">
		<h1 class="fs-1 Bolder weight text text-uppercase">Flagrance divine</h1>
		<a class="logo-link" href="{{ path('app_home') }}">
            <img class="logo w-25 h-50 border border-primary-inverse" src="{{ asset('build/images/logo.png') }}" alt="Logo">
        </a>

			
		</div>
		<div class= "d-flex justify-content-lg-center">
			<i class="bi bi-person-circle fs-4 m-3"></i>
			<a class=" fs-4 text-primary-inverse m-3 fs-4" href="{{ path('app_login') }}">Compte</a><br>
			<i class="bi bi-cart m-3 fs-4"></i>
			<a class=" m-3 text-primary-inverse fs-4" href="#">Panier</a>

		</div>
		

	</div>
</header>
