{% extends 'base.html.twig' %}

{% block title %}Parfum Homme
{% endblock %}

{% block body %}

	<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
		<div class="card-body">
			<h5 class="card-title"></h5>
 <div class=" card-deck grid gap-4 mt-2 mx-3">
            {% for produit in produits %}
                <div class="galery card-apparition position-relative overflow-hidden ">
                    <a class="stretched-link"
                       href="{{ path('painting_show', { slug: produit.slug}) }}">
                        <img class=" galery-image w-100 h-100 object-fit-cover  "
                             src=" {{ vich_uploader_asset(produit) }}"
                             alt="aperçu de l'oeuvre {{ painting.title }} réalisé par {{ painting.artist.name }}."> </a>
                    <div class="position-absolute bg-black w-100 z-1 bottom-0 bg-opacity-50 p-3 d-flex flex-column">
                        <p class="text-white m-0">{{ produit.title }}</p>
                        <a class=" text-decoration-none text-white"
                           href="{{ path('artist_show', { slug: produit.slug }) }}">{{ produit.name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
		</div>
	{% endblock %}
