{% extends 'base.html.twig' %}

{% block title %}Edition de l'utilisateur
{% endblock %}

{% block body %}
	<h1 class="mx-auto my-3 fs-2">Modifier l'utilisateur "{{ user.firstname }}
		{{ user.lastname }}"</h1>
	<div class="row mx-0">
		<div class="card col-7 col-lg-3 m-auto bg-primary text-primary-inverse p-0">
           
			<div class="card-body col-7 col-lg-3 m-auto bg-primary-inverse text-primary">
				<h5 class="card-title">{{ user.firstname }}
					{{ user.lastname }}</h5>
				<h6>{{ user.email }}</h6>
                {{ include('admin_user/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
</div>
    </div>
		<div class="d-flex flex-row justify-content-center my-4">
	    	<span class="mx-2">{{ include('admin_user/_delete_form.html.twig') }}</span>
	</div>
    <div class="d-flex flex-row justify-content-center">
    <a class="btn btn-primary-inverse my-2" href="{{ path('app_admin_user_index') }}">Retour à l'index</a>
    </div>
{% endblock %}